<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title"><%= @event.title %></h3>
</div>
<%= form_for(@event, :html => {:class => "validatabl"}) do |f| %>
<div class="modal-body">
  
  <div class="form-group">
    <%= f.label :operation, t('.operation') %>
    <div class="radio">
      <%= content_tag(:label) do %>
        <%= radio_button_tag "operation", "move", selected: true %> <%= t('.move') %>
      <% end %>
    </div>
    <div class="radio">
      <%= content_tag(:label) do %>
        <%= radio_button_tag "operation", "clone" %> <%= t('.clone') %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start, t('.target_date') %>
    <div class="controls">
      <%= bootstrap_datepicker_tag(:start_date, @event.start) %>
    </div>
  </div>
  <% if @event.recurrence then %>
    <div class="form-group">
      <%= f.label :update, t('.adjust') %>
      <div class="radio">
        <%= content_tag(:label) do %>
          <%= radio_button_tag "apply", "one", :checked => true %> <%= Event.human_attribute_name('apply.one') %>
        <% end %>
      </div>
      <div class="radio">
        <%= content_tag(:label) do %>
          <%= radio_button_tag "apply", "next" %> <%= Event.human_attribute_name('apply.next') %>
        <% end %>
      </div>
      <div class="radio">
        <%= content_tag(:label) do %>
          <%= radio_button_tag "apply", "all" %> <%= Event.human_attribute_name('apply.all') %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
<div class="modal-footer">
  <%= f.submit(t('.submit'), :class => "btn btn-primary") %>
  <%= link_to(t('.cancel'), :back, :class => "btn btn-default") %>
</div>
<% end %>
</div>
</div>
