<div class="container">
<%= title(t('.title')) %>
<%= form_for(@recurrence, :url => event_path(@event), :method => :put, :html => {:class => "validatable"}) do |f| %>
  <div class="form-group">
    <%= f.label :days, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:days, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weeks, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:weeks, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :months, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:months, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :years, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:years, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :stop_date, :for => :stop_date, :class => "control-label" %>
    <div class="controls">
      <%= bootstrap_datepicker_tag(:stop_date, @stop_date) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to(t('.back'), :back, :class => "btn btn-link") %>
  </div>
<% end %>
</div>
