<%= title("Make Event Recurrent") %>
<%= form_for(@recurrence, :url => event_path(@event), :method => :put, :html => {:class => "validatable form-horizontal"}) do |f| %>
  <div class="control-group">
    <%= f.label :days, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:days, :class => "input-small") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weeks, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:weeks, :class => "input-small") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :months, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:months, :class => "input-small") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :years, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field(:years, :class => "input-small") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Repeat Until", :for => :stop_date, :class => "control-label" %>
    <div class="controls">
      <%= bootstrap_datepicker_tag(:stop_date, @stop_date) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Make Recurrent", :class => 'btn btn-primary' %>
    <%= link_to("Back", :back, :class => "btn") %>
  </div>
<% end %>
