<%= title(@event.title) %>
<p>
  <%= @event.start.to_s(:long_ordinal) %> →
  <%= @event.stop.to_s(:long_ordinal) %>
</p>
<div style="height: 150px; overflow: auto">
  <%= simple_format @event.body %>
</div>
<hr />
<p class="buttonset flush-right">
  <%= link_to('Edit Event', edit_event_path(@event)) %>
  <%= link_to("Delete Event", event_path(@event), :method => :delete, :confirm => "Really delete the event (this can't be undone)?", :class => "delete") %>
</p>
