<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3><%= @event.title %></h3>
</div>
<div class="modal-body">
  <%= @event.start.to_s(:long_ordinal) %> →
  <% if @event.start.to_date == @event.stop.to_date then %>
    <%= @event.stop.to_s(:time) %>
  <% else %>
    <%= @event.stop.to_s(:long_ordinal) %>
  <% end %>
  <br />
  <%= Rinku.auto_link(simple_format(@event.body)).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to('Edit Event', edit_event_path(@event), :class => "btn btn-primary") %>
  <div class="btn-group">
    <%= link_to('Procrastinate '.html_safe + content_tag(:span, "", :class => "caret"), "#", :class => "btn dropdown-toggle", :data => {:toggle => "dropdown"}) %>
    <ul class="dropdown-menu">
      <li><%= procrastinate_link("1 day later", :days => 1) %></li>
      <li><%= procrastinate_link("2 days later", :days => 2) %></li>
      <li><%= procrastinate_link("3 days later", :days => 3) %></li>
      <li class="divider"></li>
      <li><%= procrastinate_link("1 week later", :days => 7) %></li>
      <li class="divider"></li>
      <li><%= procrastinate_link("1 month later", :month => 1) %></li>
    </ul>
  </div>
  <%= link_to(content_tag(:i, "", :class => "icon-trash") + " Delete Event", event_path(@event), :method => :delete, :confirm => "Really delete the event (this can't be undone)?", :class => "delete btn btn-danger") %>
</div>
