<%= form_for(@calendar, :html => { :class => "validatable form-horizontal" }) do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => 'required' %>
    </div>
  </div>
  <% if Calendar.count > 0 then %>
    <div class="control-group">
      <%= f.label :parent_id, :class => "control-label" %>
      <div class="controls">
        <%= combo_box(:calendar, :parent_id, options_from_calendar_for_select, :include_blank => true) %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :color, :class => "control-label" %>
    <div class="controls">
      <%= f.select :color, Calendar::COLORS %>
    </div>
  </div>
  <div class="control-group">
    <span class="control-label">Default</span>
    <div class="controls">
      <%= f.radio_button :default_fb, Event::FB_FREE %>
      <%= f.label :default_fb, "Free", value: Event::FB_FREE %>
      <%= f.radio_button :default_fb, Event::FB_BUSY %>
      <%= f.label :default_fb, "Busy", value: Event::FB_BUSY %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit(:class => "btn btn-primary") %>
      <%= link_to("Back", :back, :class => "btn") %>
  </div>
<% end %>
