<%= form_for(@calendar) do |f| %>
  <div class="field">
    <%= f.label :name %>:<br />
    <%= f.text_field :name, :class => 'required' %>
  </div>
  <div class="field">
    <%= f.label :parent_id %>:<br />
    <%= f.select(:parent_id, options(Calendar.arrange), :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :color %>:<br />
    <%= f.select :color, Calendar::COLORS %>
  </div>
  <%= f.submit %>
<% end %>
