<div class="container">
<div class="row">
<div class="col-sm-12">
<%= title("Calendars") %>
<table class="table table-striped">
  <thead>
  <tr><th>Calendar</th><th class="col-sm-1"></th><th class="col-sm-1"></th></tr>
  </thead>
  <tbody>
  <% sort_list(Calendar.all, :name).each do |node| %>
    <tr>
      <td>
        <% node.level.times { |i| concat(content_tag(:i, "", :class => "fa fa-angle-right fa-fw")) } %>
<div class="color-sample" style="background-color: <%= node.color %>"></div>
        <%= link_to(node.name, calendar_path(node)) %>
      </td>
      <td>
        <%= link_to("Edit", edit_calendar_path(node), :class => "btn btn-xs btn-link") %>
      </td>
      <td>
        <%= link_to("Destroy", calendar_path(node), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: t('.confirm') }) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<p>
  <%= link_to("New Calendar", new_calendar_path, :class => "btn btn-primary") %>
</p>
</div>
</div>
</div>
