<h1>Calendars</h1>
<%= render_tree(Calendar.arrange, :sort => lambda { |x| x.name } ) do |node, child| %>
  <li>
    <%= link_to(node.name, calendar_path(node)) %> [<%= link_to("Edit", edit_calendar_path(node)) %>]
    <%= child %>
  </li>
<% end %>
<p>
  <%= link_to("New Calendar", new_calendar_path) %>
</p>
