<table>
  <caption>
    <%= link_to("< previous month", previous_month_path(@start)) %>
    <%= @start.strftime("%B %Y") %>
    <%= link_to("next month >", next_month_path(@start)) %>
  </caption>
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <% @month.weeks.each do |week| %>
    <tr class="week-days-number">
      <% week.days.each do |day| %>
        <td class="<% other_month_class(week, week.days.index(day), @month) %><%= if day.start.today? then 'today' else 'not-today' end %>"><%= day.number %></td>
      <% end %>
    </tr>
    <% week.lines.each do |line| %>
      <tr class="week-events">
        <% line.each_index do |i| %>
          <% line[i].each do |length, event| %>
            <td class="<% other_month_class(week, i, @month) %><%= if week.start.advance(:days => i).today? then 'today' else 'not-today' end %>" <% if event.nil? then %><% rowspan(length) %><% else %><% colspan(length) %><% end %>>
              <% if !event.nil? %>
                <a href="<%= edit_event_path(event) %>" class="event <%= if event.start < week.start then "continued" end %> <%= if event.stop > week.stop then "continue" end %> <%= if event.multi_day? then "multi-day" end %>" style="background-color: <%= event.calendar.color %>">
                  <% if !event.full_day? then %>
                    <%= event.start.strftime("%H:%M") %> - <%= event.stop.strftime("%H:%M") %><br />
                  <% end %>
                  <%= event.title %>
                </a>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<p>
  <%= link_to("Add event", new_event_path) %> |
  <%= link_to("Add calendar", new_calendar_path) %> |
  <%= link_to("Go to current month", '/') %><br />
</p>
