<% title("Events in calendar « #{@calendar.name} » for #{Date::MONTHNAMES[@start.month]} #{@start.year}") %>
<table class="calendar">
  <caption>
    <%= link_to("< previous month", previous_month_path(@start)) %>
    <%= select(:calendar, :id, options(Calendar.arrange)) %>
    —
    <%= select(:date, :month, month_names, :selected => @start.month) %>
    <%= select(:date, :year, years, :selected => @start.year) %>
    <%= link_to("next month >", next_month_path(@start)) %>
  </caption>
  <tr>
    <% Date::DAYNAMES[0..-1].each do |m|%>
      <th><%= m %></th>
    <% end %>
  </tr>
  <% @month.weeks.each do |week| %>
    <tr class="week-days-number">
      <% week.days.each do |day| %>
        <td class="<% other_month_class(week, week.days.index(day), @month) %><%= if day.start.today? then 'today' else 'not-today' end %>"><%= day.number %></td>
      <% end %>
    </tr>
    <% week.lines.each do |line| %>
      <tr class="week-events">
        <% line.each do |h| %>
          <td class="<% other_month_class(week, h[:day], @month) %><%= if week.start.advance(:days => h[:day]).today? then 'today' else 'not-today' end %>" <% if h[:event].nil? then %><% rowspan(h[:rowspan]) %><% else %><% colspan(h[:colspan]) %><% end %>>
            <% if !h[:event].nil? %>
              <a href="<%= edit_event_path(h[:event]) %>" class="event <%= if h[:event].start < week.start then "continued" end %> <%= if h[:event].stop > week.stop then "continue" end %> <%= if h[:event].multi_day? then "multi-day" end %>" style="background-color: <%= h[:event].calendar.color %>">
                <% if !h[:event].full_day? then %>
                  <% if h[:event].multi_day? then %>
                    <% if h[:event].starts_this_week?(week) %>
                      <div class="start-hour"><%= h[:event].start.strftime("%H:%M") %></div>
                    <% end %>
                    <% if h[:event].stops_this_week?(week) %>
                      <div class="stop-hour"><%= h[:event].stop.strftime("%H:%M") %></div>
                    <% end %>
                  <% else %>
                    <%= h[:event].start.strftime("%H:%M") %> - <%= h[:event].stop.strftime("%H:%M") %><br />
                  <% end %>
                <% end %>
                <%= h[:event].title %>
              </a>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<p>
  <%= link_to("New event", new_event_path(:event => {:calendar_id => @calendar.id})) %> |
  <%= link_to("Edit calendar", edit_calendar_path(@calendar)) %> |
  <%= link_to("Go to current date", calendar_path(@calendar.id)) %><br />
</p>
