<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Calendar" %></title>
    <link rel="shortcut icon" type="images/x-icon" href="<%= image_path('favicon.png') %>" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#calendar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Calendar</a>
      </div>
      <div class="collapse navbar-collapse" id="calendar-collapse-1">
          <% if @calendar.nil? || @start.nil? then %>
            <ul class="nav navbar-nav navbar-right">
              <%= render('layouts/settings') %>
            </ul>
          <% else %>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <%= link_to(@calendar.name.html_safe +  " " + content_tag(:span, "", :class => "caret"), "#", :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) %>
                <ul class="dropdown-menu">
                  <% Calendar.order("lft ASC").each do |c| %>
                    <% classes = "active" if c == @calendar %>
                    <%= content_tag(:li, class: classes) do %>
                      <%= link_to((content_tag(:i, "", class: "fa fa-angle-right fa-fw") * c.level + content_tag(:div, "", class: "color-sample", style: "background-color: #{c.color}") + c.name).html_safe, calendar_path(c)) %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to(fa(:calendar) + " Today", calendar_path(@calendar.id, :anchor => "today")) %></li>
              <li><%= link_to(fa(:chevron_circle_left) +" Previous Month", previous_month_path(@start)) %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= Date::MONTHNAMES[@start.month] %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% month_names.each do |m| %>
                    <%= content_tag(:li, ({:class => "active"} if m[1] == @start.month)) do %>
                      <%= link_to(m[0], calendar_full_path(@calendar.id, :month => m[1], :year => @start.year)) %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @start.year %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% years.each do |y| %>
                    <%= content_tag(:li, ({:class => "active"} if y[1] == @start.year)) do %>
                      <%= link_to(y[0], calendar_full_path(@calendar.id, :month => @start.month, :year => y[1])) %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to("Next Month ".html_safe() + fa(:chevron_circle_right), next_month_path(@start)) %></li>
              <%= render('layouts/settings') %>
            </ul>
          <% end %>
        </div>
    </nav>

    <%= bootstrap_flash %>
    <%= yield %>

    <div class="modal fade" id="dialog"></div>

    <footer class="footer">
      <p>Copyright &copy; 2012-2013 <a href="http://romain.blogreen.org">Romain Tartière</a></p>
    </footer>
  </body>
</html>
