<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Calendar" %></title>
    <link rel="shortcut icon" type="images/x-icon" href="<%= image_path('favicon.png') %>" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#calendar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Calendar</a>
      </div>
      <div class="collapse navbar-collapse" id="calendar-collapse-1">
          <% if @calendar.nil? || @start.nil? then %>
            <ul class="nav navbar-nav navbar-right">
              <%= render('layouts/settings') %>
            </ul>
          <% else %>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <%= link_to(@calendar.name.html_safe +  " " + content_tag(:span, "", :class => "caret"), "#", :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) %>
                <ul class="dropdown-menu">
                  <% sort_list(Calendar.all, :name).each do |c| %>
                    <% classes = "active" if c == @calendar %>
                    <%= content_tag(:li, class: classes) do %>
                      <%= link_to((content_tag(:i, "", class: "fa fa-angle-right fa-fw") * c.level + c.name).html_safe, calendar_path(c), style: "border-left: 5px solid #{c.color}") %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to(fa_icon(:calendar, text: t('.today')), calendar_path(@calendar.id, :anchor => "today")) %></li>
              <li><%= link_to(fa_icon('chevron-circle-left', text: t('.previous_month')), previous_month_path(@start)) %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('date.month_names')[@start.month].capitalize %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% t('date.month_names').each_with_index do |m,i| %>
                    <% next if i == 0 %>
                    <%= content_tag(:li, ({:class => "active"} if i == @start.month)) do %>
                      <%= link_to(m.capitalize, calendar_full_path(@calendar.id, :month => i, :year => @start.year)) %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @start.year %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% years.each do |y| %>
                    <%= content_tag(:li, ({:class => "active"} if y[1] == @start.year)) do %>
                      <%= link_to(y[0], calendar_full_path(@calendar.id, :month => @start.month, :year => y[1])) %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to(t('.next_month').html_safe() + " " + fa_icon('chevron-circle-right'), next_month_path(@start)) %></li>
              <%= render('layouts/settings') %>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <%= bootstrap_flash %>
    <%= yield %>

    <div class="modal fade" id="dialog"></div>

    <footer class="footer">
      <p>Copyright &copy; 2012-2015 <a href="http://romain.blogreen.org">Romain Tartière</a></p>
    </footer>
  </body>
</html>
